/**
 * Stylizacja kategorii
 */
.category-root {
    display:grid; grid-template-columns:22.5vw 1fr 2.5vw 230px 5vw; grid-template-rows:auto;
    grid-template-areas:'left-margin main middle-margin side-panel right-margin';

    // Główna zawartość
    .content {grid-area:main;}

    // Tytuł i podtytuł
    h1 {font-size:2.25rem; border-bottom:3px solid var(--accent-text-color);}
    .subtitle {
        font-size:0.85em; color:var(--text-secondary-color); margin-top:-14px; display:block;
        text-align:center;
    }

    @include only-phone {
        grid-template-rows:auto auto; grid-template-columns:12px 1fr 12px;
        grid-template-areas:'left-margin main right-margin' 'left-margin side-panel right-margin';
    }
}

// Link do wpisu
.category-link {
    color:inherit; text-decoration:none; display:grid; gap:5px 15px;
    grid-template-columns:auto 1fr auto; grid-template-rows:auto auto;
    grid-template-areas:'image title date' 'image subtitle subtitle';
    padding:12px; margin:16px 0; transition:box-shadow 0.3s, background 0.3s;

    // Ilustracja
    img {
        grid-area:image; width:70px; height:70px; place-self:center; border-radius:50%;
        object-fit:cover; margin:5px;

        @include only-phone {
            width:calc(100vw - 48px); height:37.5vw; border-radius:12px; margin:0;
        }
    }
    .title {
        grid-area:title; font-size:1.75rem; font-family:'Roboto Slab','Rockwell Nova',Consolas,serif;
    }
    .text {
        grid-area:subtitle;color:var(--text-secondary-color); line-height:1.2em;

        p:first-child {margin-top:0;}
        p:last-child {margin-bottom:0;}

        @include only-phone {
            max-height:3.6em; overflow-y:hidden;

            p:not(:first-child) {display:none;}
        }
    }
    .date {grid-area:date; place-self:center end; font-size:0.9em;}

    &.no-image {
        grid-template-columns:1fr auto;
        grid-template-areas:'title date' 'subtitle subtitle';
    }
    &:hover {box-shadow:var(--cat-link-hover-shadow); background:var(--cat-link-hover-background);}

    @include only-phone {
        grid-template-columns:1fr auto; grid-template-rows:auto auto auto;
        grid-template-areas:'image image' 'title date' 'subtitle subtitle';
    }
}

// Linki do poszczególnych stron kategorii
.page-selector {
    padding:5px 0 10px 0; display:grid; grid-template-columns:1fr auto 1fr;
    grid-template-areas:'prev curr next';

    // Kontenery na linki do tyłu, do przodu i bieżącą stronę
    .prev-section {grid-area:prev; justify-self:end; display:flex;}
    .curr-section {grid-area:curr;}
    .next-section {grid-area:next; justify-self:start; display:flex;}

    // Pojedynczy przycisk do strony
    .page-numbers {
        display:inline-block; font-weight:bold; height:1.75em; box-sizing:border-box;
        border:1px solid transparent; text-align:center; line-height:1.2em; color:var(--text-color);
        padding:0.15rem 0.525rem 0.3rem 0.525rem; border-radius:0.875em; text-decoration:none;
        margin:0 3px; transition:border-color 0.3s, box-shadow 0.3s;

        &:hover, &.current {
            border-color:var(--accent-color); box-shadow:0 0 2px 0 var(--accent-color);
        }
    }
}

// Informacja o tym, że kategoria jest pusta
.empty-category-info {
    display:block; text-align:center; color:var(--text-disabled-color); margin-top:64px; font-size:1.5em;
}
