/**
 * Stylizacja strony z artykułem
 */
.article-root {
    display:grid; grid-template-columns:22.5vw 1fr 2.5vw 230px 5vw; grid-template-rows:auto auto;
    grid-template-areas:'. hero . . .' 'left-margin article middle-margin side-panel right-margin';

    @include only-phone {
        grid-template-rows:auto auto auto; grid-template-columns:12px 1fr 12px;
        grid-template-areas:'. hero .' 'left-margin article right-margin' 'left-margin side-panel right-margin';
    }
}

// Główny obrazek artykułu
header {
    grid-area:hero;

    img {
        width:100%; height:45vh; object-fit:cover; margin:15px auto 0 auto; display:block;
        box-shadow:var(--art-hero-shadow);
    }
}

// Zawartość artykułu
article {
    grid-area:article; padding:40px 2.5vw;

    p {text-align:justify; line-height:1.5em;}
    p:first-of-type {font-weight:700;}

    h1 {
        font-size:2.25rem; text-align:left; border-bottom:3px solid var(--accent-text-color);
    }
}

// Podtytuł - autor i data publikacji
.article-subtitle {
    font-size:0.85em; color:var(--text-secondary-color); margin-top:-14px; display:grid;
    grid-template-columns:auto 1fr auto;

    .author {
        grid-column:1;

        a {
            color:inherit; text-decoration:none;
            &:hover {text-decoration:underline;}
        }
    }
    .date {grid-column:3; text-align:right;}

    @include only-phone {
        .long {display:none;}
    }
}

// Panel boczny
.side-panel {
    grid-area:side-panel; padding:50px 0 30px 0; align-self:start;
    position:sticky; top:80px;

    aside {
        border:1px solid var(--sp-border-color); padding:10px 15px 15px 15px; margin-bottom:24px;
        box-shadow:var(--sp-box-shadow); font-size:0.95em; background:var(--sp-background);

        h2 {margin-top:0;}
    }

    ul {
        padding:0; margin:0 0 0 20px;
        li {margin-bottom:5px;}
    }

    a {color:var(--sp-link-color);}

    @include only-phone {
        padding:0; position:static;
    }
}
