/**
 * Ogólne deklaracje stylów
 */

body {
    background:var(--background-color); color:var(--text-color);
    margin:0; font-family:var(--font-family-main); font-size:16px; 
}

hr {border:0 solid var(--hr-color); border-top-width:1px; width:60%;}
h1, h2, h3 {
    font-family:var(--font-family-aux); color:var(--header-text-color);
    text-align:center; margin:0.2em 0 0.5em 0;
}
h1 {font-size:3rem;}
h2 {font-size:1.5rem;}
section {padding:30px 0 40px 0;}

a {
    color:var(--link-text-color); text-decoration:underline;

    &:hover {text-decoration:none;}
}

.accent-color {color:var(--accent-text-color);}
.accent-fill {
    .accent-color, a {color:var(--text-on-accent-color);}
    hr {border-color:var(--text-on-accent-color);}
}

main {
    padding-top:calc(5vh + 64px); box-shadow:var(--main-shadow); z-index:1; position:relative;
}
