.article-root {
    display:grid; grid-template-columns:22.5vw 1fr 2.5vw 230px 5vw; grid-template-rows:auto auto;
    grid-template-areas:'. hero . . .' 'left-margin article middle-margin side-panel right-margin';
}

header {grid-area:hero;}
.attachment-post-thumbnail {
    width:100%; height:45vh; object-fit:cover; margin:15px auto 0 auto; display:block;
    box-shadow:0 0 1px 1px rgba(0,0,0,0.2), 0 0 8px 1px rgba(0,0,0,0.4);
}

article {grid-area:article; padding:40px 2.5vw;}
article p {text-align:justify; line-height:1.5em;}
article p:first-of-type {font-weight:700;}

article h1 {
    font-size:2.25rem; text-align:left; border-bottom:3px solid var(--accent-color);
}

.article--subtitle {
    font-size:0.85em; color:rgba(0,0,0,0.6); margin-top:-14px; display:grid;
    grid-template-columns:auto 1fr auto;
}

.article--subtitle--author {
    grid-column:1;

    a {
        color:inherit; text-decoration:none;

        &:hover {text-decoration:underline;}
    }
}
.article--subtitle--published {grid-column:3; text-align:right;}

.article--side-panel {
    grid-area:side-panel; padding:50px 0 30px 0; align-self:start;
    position:sticky; top:80px;
}

.article--side-panel aside {
    border:1px solid #ddd; padding:10px 15px 15px 15px; margin-bottom:24px;
    box-shadow:0 0 8px 0 rgba(0,0,0,0.3); font-size:0.95em;
}
.article--side-panel aside h2 {margin-top:0;}

.article--side-panel--recent ul {padding:0; margin:0 0 0 20px;}
.article--side-panel--recent ul li {margin-bottom:5px;}