/* Stylizacja głównej sekcji strony głównej */
.main-page--initial {
    display:grid; padding-top:0; grid-template-rows:auto auto auto auto auto;
    grid-template-areas:'slider' 'logo' 'title' 'hr' 'subtitle';
}

.main-page--initial--slider-wrapper {
    max-width:100%; overflow:hidden; grid-area:slider; font-size:0;
    box-shadow: 0 0 10px 1px rgba(0,0,0,0.4);
}
.main-page--initial--slider-wrapper img {object-fit:cover; max-height:45vh; width:100%;}

.main-page--initial--logo {
    width:33vw; margin-top:-6.5vw; grid-area:logo; background:white; display:block; justify-self:center;
    padding:15px; border-radius:10px; box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}
.main-page--initial--title {grid-area:title; justify-self:center; font-size:3rem; margin:0.83em 0 0 0;}
.main-page--initial--subtitle {grid-area:subtitle; justify-self:center; font-size:1.25rem;}
.main-page--initial hr {grid-area:hr; margin:1.2rem auto;}

/* Stylizacja sekcji "Co robimy" */
.main-page--activities {
    background:var(--accent-color); color:#fff;
}

.main-page--activities--link-grid {
    display:grid; grid-template-columns:repeat(6, 1fr); grid-template-rows:repeat(2, 1fr);
    padding:0 20vw; --activity-tile-width:calc(20vw - 20px/3); gap:10px;
}
.main-page--activities--activity {
    display:grid; grid-template-rows:auto 1fr; padding:25px; color:inherit; text-decoration:none;
    transition:box-shadow 0.3s; grid-column-end:span 2;
}
.main-page--activities--activity.indent-by-half {grid-column-start:2;}
.main-page--activities--activity:hover {
    box-shadow:0 0 8px 0 rgba(0,0,0,0.3);
}
.main-page--activities--activity img {
    --image-size:calc(var(--activity-tile-width) / 2); width:var(--image-size); height:var(--image-size);
    object-fit:cover; border-radius:50%; justify-self:center; display:block;
    transition:width 0.3s, height 0.3s, margin 0.3s;
}
.main-page--activities--activity:hover img {
    --image-size:calc(var(--activity-tile-width) * 1.1 / 2); margin:calc(var(--activity-tile-width) * -0.05 / 2);
}
.main-page--activities--subtitle {
    justify-self:center; text-align:center; font-weight:700; padding:15px 0 0 0;
    /*line-height:1.2em; transition:font-size 0.3s, margin 0.3s; display:inline-block;*/
}
/* Zwiększanie czcionki po najechaniu na link

.main-page--activities--activity:hover .main-page--activities--subtitle {
    font-size:1.1rem; margin-top:calc(1.2 * 0.1rem); margin-bottom:calc(-2.4 * 0.1rem);
}
*/

/* Sekcja "Kim jesteśmy" */
.main-page--about--column-wrapper {
    display:grid; grid-template-columns:repeat(3, 1fr); gap:20px; padding:0 15vw;
}
.main-page--about--column {
    text-align:center; font-size:1.2em; line-height:1.4em;
}

/* Sekcja "Nasi partnerzy" */
.main-page--partners {
    background:var(--accent-color); color:#fff;
}
.main-page--partners h2:not(:first-of-type) {
    margin-top:1.5em;
}
.main-page--partners--logo-wide {
    background:#fff; display:block; margin:0 30vw; padding:12px 30px; text-align:center;
    border-radius:12px;
}
.main-page--partners--logo-wide img {
    max-width:100%; max-height:100px;
}
.main-page--partners--logo-row {
    display:grid; grid-auto-flow:column; grid-auto-columns:auto; justify-content:center;
    gap:15px;
}
.main-page--partners--logo-in-row {
    background:#fff; padding:10px; border-radius:12px; width:150px;
    display:grid; grid-template-rows:6vw auto; gap:5px; text-decoration:none;
}
.main-page--partners--logo-in-row img {
    max-width:100%; max-height:100%; grid-row:1; place-self:center;
}
.main-page--partners--logo-subtitle {
    grid-row:2; text-align:center; align-self:center; color:#000;
    font-weight:700; font-size:0.85em;
}
a.main-page--partners--logo-wide, a.main-page--partners--logo-in-row {
    transition:box-shadow 0.3s;
}
a.main-page--partners--logo-wide:hover, a.main-page--partners--logo-in-row:hover {
    box-shadow:0 0 10px 2px rgba(255,255,255,0.6);
}

/* Stopka */
footer {background:#2b2a29; color:#fff;}
.footer--social-media .round-button {border-color:#fff;}
.footer--social-media .round-button:hover {background:#fff; color:#2b2a29;}