/**
 * Stylizacja stopki
 */
footer {
    background:var(--footer-background); color:var(--footer-text-color); padding:30px 20vw;
    text-align:center; display:grid; grid-template-rows:auto 1fr auto; grid-template-columns:1fr 1fr;
    row-gap:25px; grid-template-areas:'address contact' 'social contact' 'copyright copyright';

    a {color:inherit; text-decoration:none;}
    h1, h2, h3 {color:inherit;}

    @include only-phone {
        padding:30px; grid-template-columns:1fr; grid-template-rows:repeat(4, auto);
        grid-template-areas:'address' 'contact' 'social' 'copyright';
    }
}

// Obszary stopki
.footer--address {
    grid-area:address;
}
.footer--social-media {
    grid-area:social;

    .social-buttons {
        display:grid; grid-template-rows:auto auto; grid-template-columns:auto auto;
        justify-content:center;

        @include only-phone {grid-template-columns:repeat(4, auto); grid-template-rows:auto;}
    }
}
.footer--contact {
    grid-area:contact;
}
.footer--copyright {
    grid-area:copyright; font-size:0.8em; margin-top:10px;
}

// Pojedyncze dane kontaktowe
.footer--contact--entry {
    margin-bottom:1.2em; font-size:0.9em;

    .main-line {font-size:1.2rem; margin-bottom:0.15em; display:inline-block;}
}

// Przyciski mediów społecznościowych
.footer--social-media .round-button {
    display:inline-block; border:2px solid var(--footer-text-color); border-radius:50%;
    font-size:1.25rem; line-height:1em; width:3rem; height:3rem; box-sizing:border-box;
    margin:5px; padding:0.7rem 0; transition:background 0.3s, color 0.3s;

    &:hover {background:var(--footer-text-color); color:var(--footer-background);}
}

// Stopka na stronie głównej jest ciemna
body.home {
    --footer-background:var(--footer-hp-background);
    --footer-text-color:var(--footer-hp-text-color);
}
