/**
 * Stylizacja głównego paska nawigacyjnego
 */
.main-navbar {
    display:grid; height:48px; padding:12px 0; z-index:2; position:fixed; background:var(--nav-background);
    grid-template-columns:18vw auto 1fr auto 10vw; grid-template-areas:'. logo . links .';
    top:0; left:0; right:0; transition:box-shadow 0.3s, background 0.3s;

    // Sytuacja, kiedy strona jest przewinięta
    &.elevated {box-shadow:var(--nav-elevated-shadow); background:var(--nav-elevated-background);}

    @include only-phone {
        grid-template-columns:1fr 1fr auto 1fr 1fr; grid-template-rows:auto auto;
        grid-template-areas:'. . logo button button' 'links links links links links';
        height:36px; padding:8px 0; row-gap:24px;

        &.open {
            height:unset; background:var(--nav-elevated-background);
            box-shadow:var(--nav-elevated-shadow);

            .main-navbar--links {display:block;}
        }
    }
}

.main-navbar--logo-wrapper {grid-area:logo; align-self:center;}
.main-navbar--logo {
    height:48px; filter:var(--nav-logo-filter);

    @include only-phone {height:36px;}
}
.main-navbar--toggle {
    grid-area:button; display:none; justify-self:right; margin-right:8px;
    background:transparent; border:none; color:inherit; font-size:1.25rem;

    @include only-phone {display:inline-block;}
}
.main-navbar--links {
    grid-area:links; margin:0; padding:0;

    // Linki na najwyższym poziomie
    > li {
        display:inline-block;

        > a {
            text-decoration:none; font-family:'Roboto Slab'; font-weight:700; color:inherit;
            display:inline-block; height:20px; line-height:20px; padding:8px 6px 6px 6px; margin:6px 6px 4px 6px;
            border-bottom:4px solid transparent; transition:border-color 0.3s, color 0.3s;

            &:hover {color:var(--accent-text-color); border-color:var(--accent-text-color);}

            @include only-phone {display:block;}
        }

        &.current-menu-item > a {border-color:var(--accent-text-color);}
        &:hover .sub-menu {
            visibility:visible; opacity:1; box-shadow:var(--nav-submenu-shadow);
            transition:opacity 0.3s, visibility 0s ease-in-out 0s, box-shadow 0.3s;
        }

        @include only-phone {display:block; text-align:center;}
    }

    // Linki w podmenu
    .sub-menu {
        position:absolute; background:var(--nav-submenu-background); padding:8px 0;
        list-style:none; font-family:'Roboto Slab'; margin-left:-4px; visibility:hidden; opacity:0;
        transition:opacity 0.3s, visibility 0s ease-in-out 0.3s, box-shadow 0.3s;

        a {
            display:block; padding:8px 16px; color:var(--nav-submenu-text-color);
            text-decoration:none; transition:color 0.3s, background-color 0.3s, border-color 0.3s; 

            &:hover {color:var(--accent-text-color); background-color:var(--nav-submenu-hover-background);}

            @include only-phone {
                padding:8px 6px 6px 6px; margin:6px 6px 4px 6px; border-bottom:4px solid transparent;
                height:20px; line-height:20px; color:inherit;

                &:hover {border-color:var(--accent-text-color); background:transparent;}
            }
        }

        li.current-menu-item a {
            color:var(--accent-text-color);

            @include only-phone {
                border-color:var(--accent-text-color); color:inherit;
            }
        }

        @include only-phone {
            visibility:visible; position:static; opacity:1; --nav-submenu-shadow:none;
            background:transparent; padding:0; margin:0;
        }
    }

    @include only-phone {
        display:none; //background:var(--nav-elevated-background); box-shadow:var(--nav-elevated-shadow);
    }
}

// Wersja paska nawigacyjnego na stronę główną - przezroczysta
body.home {
    .main-navbar .main-navbar--links > li > a {transition:color 0.3s, text-shadow 0.3s;}
    .main-navbar:not(.elevated):not(.open) {
        background:transparent;

        .main-navbar--logo {
            filter:var(--nav-hp-logo-filter);
        }
        .main-navbar--links > li > a {
            color:var(--nav-hp-text-color); text-shadow:var(--nav-hp-text-shadow);
        }
    }
}

// Jeżeli Wordpress wyświetla pasek administracyjny, przesuń nawigację w dół
body.admin-bar {
    .main-navbar {
        top:32px;

        @include only-phone {
            position:sticky; top:-1px;
        }
    }
}
